<form class="example-form" [formGroup]="formGroup" (submit)="save()">
  <button mat-button class="float-end" type="button" mat-dialog-close>
    <span>&times;</span>
  </button>
  <h2 mat-dialog-title>Guardar nota</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field class="example-full-width">
      <mat-label>Título</mat-label>
      <input matInput placeholder="Ingrese un título" formControlName="title">
      @if (formGroup.get('title')?.invalid) {
        <mat-error>Campo requerido</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <textarea matInput placeholder="Ingrese una descripción." formControlName="description"></textarea>
      @if (formGroup.get('description')?.invalid) {
        <mat-error>Campo requerido</mat-error>
      }
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Seleccione Categoria</mat-label>
      <select matNativeControl formControlName="categoryId">
        <option value="0" selected>--Seleccionar--</option>
        @for (category of categories; track category) {
          <option [value]="category.id">{{category.name}}</option>
        }
      </select>
      @if (formGroup.get('categoryId')?.invalid) {
        <mat-error>Campo requerido</mat-error>
      }
    </mat-form-field> -->

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="submit" mat-flat-button>Guardar</button>
  </mat-dialog-actions>
</form>